<!DOCTYPE html>
<html>
<head>
  <title>Movie Sentiment Analysis</title>
</head>
<body>
  <header>
    <h1>Movie Sentiment Analysis</h1>
  </header>
  <nav>
    <a href="/index">Home</a>
    <a href="/data">Data</a>
  </nav>
  <main>
    <p>Welcome! Please enter your review for the movie</p>
    <form method="POST">
      <textarea id="review" name="review_text" placeholder="write something.." rows="10" cols="110"></textarea>
      <input type="submit" value="Submit">
    </form>
  </main>
  <footer>
    <p>by shivanshu</p>
  </footer>
</body>
</html>

