<!DOCTYPE html>
<html>
<head>
  <title>Sentiment Analysis</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
<body>
  <header class="header">
    <img src="https://placeimg.com/200/50/tech" alt="Logo">
    <h1>Movie Sentiment Analysis</h1>
  </header>
  <nav class="navigation">
    <a href="/index">Home</a>
    <a href="/data">Data</a>
  </nav>
  <main>
    <div class="result_show">
      <p>This movie has <strong>{{ value1 }}</strong> sentiment</p>
    </div>
    </main>
  </body>
  </html>
  